 	body {background-color: rgb(44,53,69);}
 		#wrapper {width: 1200px;
 			margin: 0 auto;
 		font-family: 'Raleway', sans-serif;}

 		header {height: 334px;
 			background-image: url("imagenes/foto1.jpg");
 			background-repeat: no-repeat;
 			background-position: center;}

 		nav {background-color: rgb(30,104,114);
 			text-align: center;
 			padding: 5px;
 			margin: 0px;
 			width: 700px;
 			margin-left: 250px;
 			font-size: 19px;
 			border-radius: 20px;
 			color: white;}

		#introduccion {text-align: center;
			font-size: 30px;
			margin-top: -20px;
			font-weight: bold;}

 		section  {height:  620px;
 			background-color: white;
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;
 			border-radius: 10px;}
 		#octoCat {padding-left:  400px;
 			padding-top: -40px;}

 		#fotoJava {height: 100px;
 			padding-left: 300px;}

 		
 		footer {height: 25px;
 			width: 400px;
 			margin-left: 400px;
 			padding: 20px;
 			padding-bottom: -23px;
 			background-color: rgb(30,104,114);
 			border-radius: 20px;
 			text-align: center;
 			color: white;}

 		nav a {color: white;
				text-decoration: none;}
				/*Le quita el subrayado al vínculo*/
		nav a:hover {color: orange}
		/*Cambia el color de la palabra vinculada a blanco,cuando el ratón pasa por encima*/
		.estilotextarea {width:710px;
			height:100px;
			border: 2px solid black;}
		.textoEnviar {position: relative;right: -650px;}
		

