 	body {background-color: black}
 		#wrapper {width: 1200px;
 			margin: 0 auto;}

 		header {height: 334px;
 			background-image: url("imagenes/foto1.jpg");
 			background-repeat: no-repeat;
 			background-position: center;}

 		nav {background-color: black;
 			text-align: center;
 			padding: 5px;
 			margin: 0px;
 			width: 800px;
 			margin-left: 200px;
 			font-size: 19px;
 			color: white;}

		#introduccion {text-align: center;
			font-size: 30px;
			margin-top: -20px;
			font-weight: bold;}

 		section  {height:  820px;
 			background-color: white;
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;}

 		#fotoJava {padding: 50px;
 			height: 200px;}

 			#seccionPogona {height:  1000px;
 			background-color: rgb(222,222,230);
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;}

 		#seccionPardalis {height:  1800px;
 			background-color: rgb(222,222,230);
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;}

 		#seccionContacto {height: 500px;
 			background-color: rgb(222,222,230);
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;}

 			#seccionInformacion {height: 300px;
 			background-color: rgb(222,222,230);
 			width: 720px;
 			padding: 50px;
 			padding-left: 41px;
 			margin-left: 200px;
 			margin-right: 400px;
 			text-align: justify;
 			font-size: 20px;}

 			#fotoInfo {margin-left: 255px;}

 		section strong {color: rgb(105,105,105);}
 		li {list-style-image: url("imagenes/iconolista.jpg");}

 		#eublefoto {float: right;
 			margin: 5px;
 			margin-top: -34px;}
 		#Fpardalisfoto {float: left;
 			margin: 10px;
 			margin-bottom: -1px;
 			margin-left: -1px}
 		#margenParrafoPardalis {padding: 50px;}
 		#pogonaFoto {float: right;
 			margin: 10px;
 			margin-top: 1px;}
 		li {font-weight: bold;}

 		#fotoEnMedio {margin-left: 200px;}

 		#videoEnMedio {margin-left: 90px;}

 		 #titulo {text-align: center;
 		 margin-top: -15px;
 		 font-size: 30px;
 		 font-weight: bold;}

 		 #subTitulo {text-align: center;
 		 margin-top: -15px;
 		 font-size: 20px;
 		 font-weight: bold;}
 		
 		footer {height: 25px;
 			margin-left: 200px;
 			margin-right: 190px;
 			padding: 20px;
 			padding-bottom: -23px;
 			background-color: black;
 			text-align: center;
 			color: white;}

 		nav a {color: white;
				text-decoration: none;}
				/*Le quita el subrayado al vínculo*/
		nav a:hover {color: orange}
		/*Cambia el color de la palabra vinculada a blanco,cuando el ratón pasa por encima*/
		.estilotextarea {width:710px;
			height:100px;
			border: 2px solid black;}
		.textoEnviar {position: relative;right: -650px;}
		

